.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.heading-2 {
  display: block;
  width: 993px;
  max-width: 100%;
  margin: 200px auto 57px;
  padding-left: 49px;
  font-family: suburban, sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-decoration: none;
}

.body {
  margin-right: 0px;
  margin-left: 0px;
  clear: none;
  background-color: #f1e7e4;
  font-size: 1em;
  line-height: 100%;
}

.titlehero {
  max-width: 100%;
  margin-right: auto;
  margin-bottom: 200px;
  margin-left: auto;
  padding-left: 0px;
  font-family: suburban, sans-serif;
  font-size: 70px;
  line-height: 75%;
  font-weight: 400;
  text-decoration: none;
  white-space: normal;
}

.section {
  max-height: none;
  max-width: none;
  margin-right: 150px;
  margin-left: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #638475;
  color: #333;
}

.gazeriphone {
  max-height: 450px;
  max-width: none;
  margin-top: auto;
  margin-right: 79px;
  margin-left: 0px;
  float: right;
}

.setlistintro {
  position: static;
  left: auto;
  top: 84%;
  right: 0%;
  bottom: auto;
  display: block;
  max-width: 500px;
  margin-top: 102px;
  margin-right: 0px;
  margin-left: 70px;
  float: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  font-family: agenda, sans-serif;
  color: #fff;
}

.footer {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 20px 40px 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
}

.link {
  margin-right: 20px;
  margin-left: 20px;
  float: none;
}

.paragraph {
  display: block;
  max-width: 550px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: none;
  font-family: Inter, sans-serif;
  font-size: 16px;
  text-align: center;
}

.herop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  max-width: 200px;
  margin-left: 0px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.toph2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: museo, sans-serif;
  font-size: 24px;
  text-align: left;
}

.toph2.left {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
}

.checklist {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  text-align: left;
  white-space: normal;
}

.overviewbox {
  display: block;
  max-width: 650px;
  margin-bottom: 60px;
  margin-left: 100px;
}

.grid-2 {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-column-gap: 66px;
  grid-row-gap: 68px;
  -ms-grid-columns: 0.25fr 0.25fr;
  grid-template-columns: 0.25fr 0.25fr;
}

.subtxt {
  position: static;
  display: block;
  max-width: 80%;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 40px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Inter, sans-serif;
  line-height: 27px;
  text-align: center;
}

.woman {
  display: inline-block;
  width: 150px;
}

.grid-3 {
  display: -ms-grid;
  display: grid;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  justify-items: stretch;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 23px;
  grid-template-areas: ". Area";
  grid-template-columns: 416px repeat(auto-fit, 391px);
  -ms-grid-rows: auto 23px auto;
  grid-template-rows: auto auto;
}

.userf2 {
  display: block;
  width: 800px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.userf1 {
  display: block;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.wiref1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.grid-5 {
  clear: left;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-grid-columns: 0.75fr 0.75fr;
  grid-template-columns: 0.75fr 0.75fr;
}

.title3 {
  display: inline-block;
  float: left;
  font-family: museo, sans-serif;
  font-weight: 500;
}

.list-rolls {
  text-align: center;
}

.list {
  display: block;
  width: 425px;
  height: auto;
  margin-top: 0px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
  font-family: Inter, sans-serif;
  line-height: 200%;
  list-style-type: disc;
}

.textblockm {
  display: inline-block;
  margin-left: 0px;
  float: left;
  clear: none;
  font-family: Inter, sans-serif;
}

.list-3 {
  display: block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  text-align: center;
  list-style-type: none;
}

.subhead {
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.deliverbox {
  position: static;
  left: auto;
  width: 1000px;
  margin: 44px auto 100px;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: column;
  grid-auto-columns: 0.75fr;
  grid-column-gap: 100px;
  grid-row-gap: 0px;
  grid-template-columns: minmax(241px, 0.25fr) 241px repeat(auto-fit, 241px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-8 {
  display: -ms-grid;
  display: grid;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.computer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: none;
}

.tools {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-15 {
  position: relative;
  left: 13px;
  top: 13px;
  max-width: none;
}

.image-16 {
  position: relative;
  left: 10px;
  top: 13px;
}

.iphone {
  position: static;
  bottom: 600px;
  width: 275px;
  max-width: none;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  float: right;
  background-color: transparent;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
  background-clip: border-box;
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.intro {
  width: 900px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.projectheader {
  margin-top: -25px;
  margin-bottom: 32px;
  font-family: suburban, sans-serif;
  color: #fff;
  font-size: 70px;
  font-weight: 400;
}

.projecttext {
  max-width: 450px;
  clear: none;
  font-family: agenda, sans-serif;
  color: #fff;
  font-size: 28px;
  line-height: 120%;
  font-weight: 100;
  text-align: left;
}

.casestudy {
  margin-top: 29px;
  font-family: agenda, sans-serif;
  color: #dadada;
  font-size: 24px;
}

.section-16 {
  margin-top: 162px;
  margin-right: 150px;
  margin-left: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #8e4a49;
}

.setlistiphone {
  max-height: 450px;
  max-width: none;
  margin-top: auto;
  margin-right: 79px;
  margin-left: 0px;
  float: right;
}

.gazerintro {
  display: block;
  max-width: 500px;
  margin-top: 102px;
  margin-right: 0px;
  margin-left: 70px;
  float: none;
}

.linksbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  max-width: 100%;
  min-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
}

.footerlinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  float: right;
  clear: both;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.email {
  display: inline-block;
  width: 165px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: agenda, sans-serif;
  color: #000;
  text-decoration: none;
}

.footer-item {
  width: 60px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  clear: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-style: normal;
  white-space: normal;
}

.footer-item._1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: agenda, sans-serif;
  color: #000;
  text-decoration: none;
}

.footer-item._2 {
  width: 58px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: agenda, sans-serif;
  color: #000;
  text-decoration: none;
}

.nav-menu {
  left: 140px;
  display: block;
  width: 400px;
  margin-top: 40px;
  margin-right: 26px;
  margin-left: auto;
}

.nav-link {
  font-family: agenda, sans-serif;
  font-size: 20px;
}

.navbar {
  margin-right: 0px;
  margin-left: 0px;
  background-color: transparent;
}

.image-19 {
  width: 100px;
  margin-left: 0px;
  padding-top: 20px;
  padding-left: 0px;
}

.brand.w--current {
  margin-top: 20px;
  margin-left: -111px;
}

.hero {
  margin-right: auto;
  margin-left: auto;
}

.heroimage {
  width: 1000px;
  margin-top: 60px;
}

.headertext {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.listtop {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Inter, sans-serif;
  line-height: 25px;
  list-style-type: none;
}

.deliverables {
  display: block;
  max-width: 1000px;
  margin-top: 57px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.overview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-left: 0px;
  padding-top: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/Rectangle-118.png');
  background-position: 100% 100%;
  background-size: 1600px 750px;
  background-repeat: no-repeat;
}

.maintit {
  width: 500px;
  margin-bottom: 23px;
  font-family: museo, sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.maintit.discovery {
  margin-top: 20px;
  background-color: transparent;
  background-image: none;
}

.desgin {
  display: block;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.specifications {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.discovery {
  margin-top: -63px;
  padding-bottom: 10px;
  background-color: #4f4f4f;
  background-image: url('../images/Rectangle-119.png');
  background-position: 0% 0%;
  background-size: 1500px 600px;
  background-repeat: no-repeat;
  color: #fff;
}

.discovery.personas {
  margin-top: -41px;
  background-image: none;
}

.pagehead {
  margin-top: 67px;
  margin-right: 100px;
  margin-left: 100px;
  padding-top: 40px;
}

.pagehead.c {
  padding-top: 40px;
}

.pmain {
  width: 675px;
  margin-bottom: 63px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 180%;
  text-align: left;
}

.pmain.museo {
  width: 500px;
  max-width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
}

.pmain.sans {
  width: 500px;
  max-width: 100%;
  padding-left: 10px;
}

.pmain.last {
  color: #fff;
  text-align: center;
}

.listd {
  max-width: 425px;
  padding: 20px 40px;
  font-family: Inter, sans-serif;
  line-height: 225%;
  list-style-type: disc;
}

.listhome {
  max-width: 425px;
  min-width: 425px;
  background-color: #555;
}

.word-list {
  margin-bottom: auto;
  padding-top: 20px;
  padding-left: 0px;
  font-family: Inter, sans-serif;
  line-height: 225%;
}

.wordlistitem {
  padding-top: 10px;
  padding-left: 25px;
}

.wordlisthead {
  margin-top: 20px;
  padding-top: 0px;
  padding-left: 25px;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.subtext {
  width: 950px;
  margin: 67px auto 60px;
  padding-bottom: 20px;
  background-color: #555;
  font-family: Inter, sans-serif;
  text-align: center;
}

.subtext.personas {
  width: 650px;
}

.personahead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote1 {
  width: auto;
  max-width: 300px;
  min-width: auto;
  padding-bottom: 60px;
  padding-left: 20px;
}

.div-block-15 {
  display: inline-block;
  width: 200px;
  padding-right: 20px;
  padding-left: 20px;
}

.div-block-16 {
  display: inline-block;
}

.persona-title {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 25px;
}

.motivation {
  display: inline-block;
  margin-top: 19px;
  margin-left: 32px;
  padding-bottom: 20px;
  float: left;
  clear: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.bar {
  max-width: 225px;
  margin-right: 0px;
  padding-top: 44px;
  padding-left: 0px;
  float: left;
  clear: left;
}

.div-block-17 {
  display: inline-block;
  margin: 35px 10px 0px 0px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.platform {
  display: block;
  margin-left: 32px;
  padding-left: 0px;
  float: left;
}

.personabox {
  max-width: 425px;
  background-color: #555;
  color: #ecebeb;
}

.personabox.small {
  height: auto;
  max-width: none;
  padding-bottom: 0px;
}

.iconp {
  width: 95px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  float: left;
  clear: left;
}

.platforms {
  display: block;
  margin-bottom: 0px;
  padding-bottom: 38px;
  background-color: #555;
}

.platforms.desktop {
  display: block;
  height: auto;
}

.platforms.mobile {
  display: none;
}

.iconi {
  width: 95px;
  padding: 10px;
  float: left;
  clear: right;
}

.text-block-9 {
  position: static;
  left: -89px;
  top: 89px;
  right: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 87px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  font-family: Inter, sans-serif;
}

.textbloc {
  position: static;
  left: -73px;
  top: 89px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 68px;
  height: auto;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  font-family: Inter, sans-serif;
}

.div-block-23 {
  display: inline-block;
  width: 95px;
  margin-top: 0px;
  margin-left: 51px;
  float: left;
  clear: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.div-block-23.google {
  width: 105px;
}

.div-block-24 {
  width: 95px;
  margin-top: 63px;
  margin-right: 0px;
  margin-left: 210px;
  float: none;
  clear: none;
}

.icong {
  width: 105px;
  margin-top: 22px;
  padding: 0px 10px 10px;
}

.iconf {
  width: 95px;
  padding: 10px;
}

.textblock {
  width: 57px;
  margin-right: auto;
  margin-left: auto;
}

.subitem {
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
  clear: left;
  text-align: center;
  list-style-type: none;
}

.sublist {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  line-height: 27px;
  list-style-type: none;
}

.doc {
  width: 80px;
  margin-right: auto;
  margin-left: auto;
}

.pin {
  width: 75px;
  margin-right: auto;
  margin-left: auto;
}

.drop {
  margin-right: auto;
  margin-left: auto;
}

.userlist {
  margin-bottom: 60px;
  clear: left;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 55px;
}

.user-stories {
  margin-right: 145px;
  margin-left: 200px;
}

.infoarch {
  margin-top: 0px;
  background-image: url('../images/Rectangle-140.png'), url('../images/Rectangle-135.png');
  background-position: 0% 100%, 50% 0%;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}

.section-19 {
  padding-bottom: 100px;
  background-color: #4f4f4f;
  background-image: url('../images/Rectangle-119.png');
  background-position: 100% 0%;
  background-size: 1500px 600px;
  background-repeat: no-repeat;
  color: #fff;
}

.wiref2 {
  display: block;
  width: 790px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
}

.gazer1 {
  width: auto;
}

.typog {
  display: inline-block;
  width: 525px;
  margin-right: 10px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #b8d5b8;
}

.color {
  display: inline-block;
  margin-left: 10px;
  float: none;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.visualp {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 32px;
}

.visual-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}

.mockup {
  margin-top: 60px;
  padding-top: 100px;
}

.colorbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.typobox {
  display: none;
  margin-top: 100px;
}

.typobox.view {
  display: block;
  padding-bottom: 10px;
}

.typo1 {
  padding-bottom: 20px;
  font-family: museo, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.typo2 {
  padding-bottom: 20px;
  font-family: museo, sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.typo3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}

.mockimg {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.section-20 {
  background-color: #4f4f4f;
}

.end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.headingend {
  font-family: museo, sans-serif;
  color: #fff;
  font-size: 36px;
}

.main {
  display: inline-block;
  max-width: 75%;
  float: left;
  clear: left;
  font-family: Inter, sans-serif;
  line-height: 180%;
}

.imagebox {
  position: relative;
  top: 0px;
  right: 200px;
  bottom: 200px;
  display: inline-block;
  width: 275px;
  max-width: 100%;
  margin-top: 220px;
  margin-right: auto;
  margin-left: 220px;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.overviewhome {
  display: inline-block;
  max-width: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.maintitle.color {
  padding-left: 0px;
}

.list-item-d {
  padding-bottom: 10px;
}

.gridp {
  width: 280px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 27px;
  text-align: left;
}

.rolls {
  width: 250px;
  margin-left: auto;
}

.container {
  margin-top: 20px;
}

.container-2 {
  display: block;
  max-width: 1500px;
  margin-top: 40px;
}

.list-4 {
  float: left;
}

.list-5 {
  float: right;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.image-20 {
  margin-bottom: 20px;
  clear: left;
}

.image-21 {
  margin-bottom: 20px;
}

.image-22 {
  margin-bottom: 20px;
}

.visualh {
  padding-left: 10px;
}

.div-block-29 {
  position: relative;
  left: 140px;
  width: 500px;
  max-width: 100%;
  margin-right: auto;
  margin-left: 0px;
  padding-right: 0px;
  float: right;
  font-family: agenda, sans-serif;
  color: #000;
}

.pagelink {
  display: inline-block;
  padding: 20px;
  font-family: agenda, sans-serif;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.link-3 {
  color: rgba(0, 0, 0, 0.97);
  font-size: 20px;
  text-decoration: none;
}

.link-4 {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.link-5 {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.image-23 {
  display: inline-block;
  width: 90px;
  margin-right: 0px;
  margin-left: 41px;
  float: left;
}

.section-21 {
  width: 1000px;
  max-width: 100%;
  min-width: 400px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.dropdownmenu {
  display: block;
  width: 400px;
  margin-right: 0px;
  margin-left: auto;
}

.dropdowncontent {
  display: block;
  width: 100%;
  max-width: 100%;
  float: right;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.trigger {
  display: none;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-31 {
  width: 993px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  float: none;
}

@media screen and (max-width: 991px) {
  .heading-2 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: 49px;
    padding-left: 0px;
  }

  .titlehero {
    width: 872px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }

  .section {
    margin-right: auto;
    margin-left: auto;
  }

  .overviewbox {
    margin-left: auto;
    padding-left: 60px;
  }

  .grid-2 {
    display: block;
    width: 450px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .grid-3 {
    display: block;
    width: 450px;
    max-width: none;
  }

  .deliverbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .grid-8 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 60px;
    padding-left: 60px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    grid-column-gap: 42px;
    -ms-grid-columns: 2.5fr 2.5fr 2.5fr;
    grid-template-columns: 2.5fr 2.5fr 2.5fr;
  }

  .iphone {
    display: none;
    max-width: 200px;
    margin-right: 0px;
  }

  .section-16 {
    margin-right: auto;
    margin-left: auto;
  }

  .overview {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .maintit {
    width: 675px;
    margin-right: auto;
    margin-left: auto;
  }

  .maintit.discovery {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    background-color: transparent;
    background-image: none;
  }

  .pagehead {
    margin-right: auto;
    margin-left: auto;
  }

  .pmain {
    width: 575px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }

  .pmain.museo {
    width: 525px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .wordlisthead {
    padding-top: 20px;
  }

  .subtext {
    width: 875px;
  }

  .personabox.small {
    width: 425px;
    margin-top: 10px;
  }

  .platforms {
    display: block;
    width: 425px;
  }

  .platforms.mobile {
    display: none;
  }

  .user-stories {
    width: 675px;
    margin-right: auto;
    margin-left: auto;
  }

  .color {
    width: 525px;
    margin-top: 10px;
    margin-left: 0px;
  }

  .visualp {
    width: 525px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
  }

  .visual-box {
    width: 530px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .colorbox {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .typobox {
    width: 525px;
    margin: 40px auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .typo1 {
    width: 500px;
  }

  .typo2 {
    width: 500px;
    min-width: 500px;
  }

  .typo3 {
    width: 500px;
  }

  .imagebox {
    display: block;
    width: 200px;
    margin-top: 400px;
    margin-right: 0px;
    margin-left: 200px;
  }

  .overviewhome {
    display: block;
    width: 100%;
    max-width: none;
    margin-right: auto;
    margin-left: auto;
  }

  .maintitle {
    width: 675px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }

  .gridp {
    line-height: 27px;
    text-align: center;
  }

  .rolls {
    display: block;
    margin-right: auto;
  }

  .div-block-28 {
    width: 575px;
    margin-right: auto;
    margin-left: auto;
  }

  .dropdownmenu {
    display: inline-block;
    width: auto;
    margin-left: 0px;
    float: right;
  }

  .dropdowncontent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    margin-left: 0px;
    float: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .trigger {
    display: none;
    float: right;
  }

  .div-block-30 {
    display: block;
    width: 100%;
  }

  .div-block-31 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .titlehero {
    padding-right: 20px;
    padding-left: 20px;
  }

  .section {
    margin-right: auto;
    margin-left: auto;
  }

  .gazeriphone {
    max-width: 210px;
  }

  .setlistintro {
    color: transparent;
  }

  .overviewbox {
    margin-right: auto;
    margin-left: auto;
  }

  .iphone {
    margin-right: auto;
    margin-left: auto;
  }

  .section-16 {
    margin-top: 108px;
    margin-right: auto;
    margin-left: auto;
  }

  .setlistiphone {
    max-width: 210px;
  }

  .gazerintro {
    font-family: agenda, sans-serif;
    color: transparent;
  }

  .pagehead {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .pmain {
    padding-right: 20px;
    padding-left: 20px;
  }

  .imagebox {
    display: none;
    margin-right: auto;
    margin-left: auto;
  }

  .maintitle {
    margin-left: auto;
  }

  .container-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .div-block-28 {
    margin-left: auto;
  }

  .pagelink {
    font-size: 16px;
  }

  .dropdowncontent {
    margin-left: 20px;
    font-family: agenda, sans-serif;
  }
}

@media screen and (max-width: 479px) {
  .heading-2 {
    display: block;
    width: 428px;
    max-width: 100%;
    margin: 0px auto 32px;
    padding-left: 20px;
    font-size: 28px;
  }

  .titlehero {
    min-width: 100px;
    margin-right: 0px;
    margin-bottom: 86px;
    margin-left: 0px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .section {
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .gazeriphone {
    max-height: 216px;
    max-width: 125px;
    margin-right: 30px;
    margin-left: 0px;
    float: right;
  }

  .setlistintro {
    display: block;
    max-width: 200px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: 98px;
    float: none;
  }

  .footer {
    min-width: 200px;
    margin-left: auto;
    padding: 0px;
    font-family: agenda, sans-serif;
    font-size: 12px;
  }

  .paragraph {
    display: block;
    float: none;
    text-align: center;
  }

  .herop {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
  }

  .button {
    text-align: center;
  }

  .toph2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .checklist {
    position: static;
    float: none;
    clear: none;
    text-align: left;
  }

  .overviewbox {
    display: block;
    width: 300px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    clear: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }

  .grid-2 {
    max-width: 100%;
    min-width: 320px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-rows: minmax(200px, 1fr);
    grid-row-gap: 33px;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1.25fr));
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .subtxt {
    max-width: 100%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    line-height: 32px;
  }

  .woman {
    width: 80px;
    min-width: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-left: 5px;
  }

  .grid-3 {
    display: block;
    max-width: 100%;
    min-width: 320px;
    margin-top: 40px;
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 0.25fr;
    grid-template-areas: "Area Area";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid-5 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .title3 {
    display: block;
  }

  .list {
    width: 350px;
    height: auto;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .list-3 {
    width: 350px;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .subhead {
    max-width: 100%;
    margin-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .deliverbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 0.25fr;
    grid-template-columns: repeat(auto-fit, 200px);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid-8 {
    display: -ms-grid;
    display: grid;
    width: 375px;
    max-width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    justify-items: start;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-align-content: start;
    -ms-flex-line-pack: start;
    align-content: start;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr);
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .image-15 {
    left: 13px;
    top: 13px;
    display: block;
  }

  .image-16 {
    left: -63px;
  }

  .iphone {
    display: none;
  }

  .intro {
    margin-top: -48px;
    margin-right: auto;
    margin-left: auto;
  }

  .projectheader {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -79px;
    font-size: 40px;
  }

  .projecttext {
    min-width: 200px;
    margin-left: -79px;
    font-size: 14px;
    line-height: 27px;
  }

  .casestudy {
    margin-top: 13px;
    margin-left: -79px;
    font-size: 14px;
  }

  .section-16 {
    max-height: 300px;
    margin-top: 79px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .setlistiphone {
    max-height: 216px;
    max-width: 125px;
    margin-right: 30px;
    margin-left: 0px;
    float: right;
  }

  .gazerintro {
    max-width: 200px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: 98px;
    float: none;
  }

  .linksbox {
    min-width: 300px;
  }

  .footerlinks {
    margin-left: auto;
  }

  .footer-item {
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .image-19 {
    display: none;
    margin-left: 0px;
  }

  .brand {
    padding-left: 0px;
  }

  .brand.w--current {
    margin-left: 16px;
  }

  .hero {
    margin-top: -48px;
  }

  .heroimage {
    margin-top: 32px;
  }

  .deliverables {
    margin-top: 89px;
  }

  .overview {
    background-size: 500px;
  }

  .maintit {
    display: block;
    width: 320px;
    margin: 60px auto 10px;
    float: none;
    font-size: 26px;
    text-align: left;
  }

  .maintit.discovery {
    width: 320px;
    max-width: 100%;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: transparent;
    font-size: 24px;
  }

  .desgin {
    margin-top: 40px;
  }

  .specifications {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .pagehead {
    width: 329px;
    max-width: 100%;
    min-width: 320px;
    margin-top: 57px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
  }

  .pagehead.c {
    width: 350px;
    padding-top: 20px;
  }

  .pmain {
    display: block;
    width: 320px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    line-height: 27px;
    text-align: left;
  }

  .pmain.light {
    width: 320px;
    padding-right: 0px;
    padding-left: 0px;
    color: #000;
    line-height: 27px;
  }

  .pmain.museo {
    min-width: 320px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: museo, sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 300;
  }

  .pmain.sans {
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
  }

  .pmain.last {
    color: #fff;
    text-align: center;
  }

  .listd {
    width: 325px;
    max-width: 100%;
    min-width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 33px;
    list-style-type: disc;
  }

  .listhome {
    width: 350px;
    max-width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 20px;
  }

  .word-list {
    width: 325px;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding: 10px 10px 20px;
    text-align: left;
  }

  .wordlistitem {
    padding-bottom: 10px;
    padding-left: 0px;
    line-height: 27px;
  }

  .wordlisthead {
    width: 300px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    text-align: center;
  }

  .subtext {
    width: 350px;
    max-width: 100%;
    min-width: 320px;
    margin-top: 0px;
    padding-bottom: 0px;
  }

  .subtext.personas {
    width: 350px;
    margin-top: 20px;
  }

  .personahead {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 350px;
    max-width: 100%;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .quote1 {
    width: 250px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .div-block-15 {
    width: 100px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  .persona-title {
    margin: 20px auto 15px;
    padding-top: 15px;
    padding-left: 10px;
    color: #fff;
  }

  .motivation {
    max-width: 100%;
    margin-left: 10px;
    padding-bottom: 13px;
  }

  .bar {
    width: 90px;
    max-width: 100%;
    min-width: 90px;
    padding-top: 42px;
  }

  .div-block-17 {
    width: 90px;
    margin-top: 54px;
    margin-right: 10px;
  }

  .platform {
    margin-left: 10px;
    padding-left: 0px;
  }

  .personabox {
    width: 350px;
    max-width: 100%;
    min-width: 320px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
  }

  .platforms {
    display: block;
    width: 350px;
    max-width: 100%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }

  .platforms.desktop {
    display: block;
    min-width: 320px;
  }

  .platforms.mobile {
    display: none;
  }

  .subitem {
    padding-right: 5px;
    padding-left: 5px;
  }

  .sublist {
    width: 350px;
    max-width: 100%;
  }

  .drop {
    width: 90px;
    margin-top: 20px;
  }

  .userlist {
    display: -ms-grid;
    display: grid;
    width: 350px;
    max-width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    float: none;
    clear: none;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(auto-fit, 306px);
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    font-size: 13px;
    line-height: 27px;
  }

  .user-stories {
    width: 350px;
    max-width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    color: #000;
  }

  .infoarch {
    width: 320px;
    max-width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('../images/Rectangle-135.png'), url('../images/Rectangle-140.png');
    background-position: 100% 0%, 0% 100%;
    background-size: 500px 400px, 1000px;
    background-repeat: no-repeat, no-repeat;
  }

  .section-19 {
    padding-bottom: 40px;
    background-size: 900px 300px;
  }

  .typog {
    width: 350px;
    max-width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  .color {
    width: 350px;
    max-width: 100%;
    min-width: 320px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f5f2fb;
  }

  .visualp {
    width: 350px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .visual-box {
    width: 350px;
    max-width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .mockup {
    width: 350px;
    min-width: 320px;
    margin: auto auto 20px;
  }

  .colorbox {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .typobox {
    width: 300px;
    margin: auto 0px 20px;
    padding-left: 20px;
  }

  .typo1 {
    max-width: 100%;
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .typo2 {
    max-width: 100%;
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .typo3 {
    max-width: 100%;
    margin-left: 10px;
    font-size: 18px;
  }

  .mockimg {
    max-width: 100%;
    min-width: 320px;
  }

  .end {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .headingend {
    font-size: 24px;
  }

  .main {
    display: block;
    width: 300px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
  }

  .overviewhome {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .maintitle {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 10px;
    font-family: museo, sans-serif;
  }

  .list-item-d {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .gridp {
    display: block;
    width: 350px;
    max-width: 100%;
    min-width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Inter, sans-serif;
    line-height: 27px;
    text-align: center;
  }

  .userstorybox {
    width: 336px;
    max-width: 100%;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  .div-block-28 {
    width: 320px;
  }

  .heading-9 {
    padding-left: 25px;
  }

  .visualh {
    padding-left: 25px;
  }

  .div-block-29 {
    position: static;
    left: 0px;
    width: 50px;
    margin-left: auto;
    float: right;
  }

  .pagelink {
    position: static;
    display: inline-block;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 14px;
    float: none;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    text-align: left;
  }

  .pagelink.content {
    display: none;
  }

  .image-23 {
    position: relative;
    left: 6px;
    display: inline-block;
    width: 40px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .section-21 {
    position: relative;
    top: 5px;
    display: block;
    width: 800px;
    height: 150px;
    min-width: 300px;
    margin-top: 44px;
    margin-right: auto;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .link-block {
    width: 60px;
    margin: auto;
    float: right;
  }

  .image-24 {
    width: 60px;
    margin-right: auto;
    margin-left: 0px;
    padding: 20px;
  }

  .section-22 {
    display: none;
  }

  .link-block-2 {
    display: block;
  }

  .link-block-2.w--current {
    display: inline-block;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .dropdownmenu {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    float: right;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .dropdowncontent {
    position: relative;
    top: -48px;
    right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 80px;
    margin-top: 0px;
    margin-right: 79px;
    margin-left: auto;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .trigger {
    position: relative;
    top: -19px;
    right: 22px;
    display: block;
    width: 20px;
    height: 11px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .div-block-30 {
    width: 500px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
  }

  .div-block-31 {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 38px;
    padding-left: 0px;
    float: none;
  }

  .list-item {
    display: block;
    width: 320px;
    max-width: 100%;
    min-width: 320px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .heading-10 {
    padding-left: 25px;
  }
}

#w-node-7e7c1ed713fb-7ec850ab {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-02f16c47c2c1-7ec850ab {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-da8aca31df26-7ec850ab {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-c82f065da1c3-7ec850ab {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-adab987f0aca-7ec850ab {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-1ba06a1452f5-7ec850ab {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-2d1cd46baa21-7ec850ab {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

